beautifulsoup4==4.11.1
bert_extractive_summarizer==0.5.1
demoji==0.3.0
emoji==0.5.4
gensim==3.8.3
Keras==2.4.3
langdetect==1.0.8
matplotlib==3.2.1
networkx==2.4
nltk==3.5
nptyping==1.0.1
numpy==1.18.4
pandas==1.1.0
Pillow==9.1.1
pyenchant==3.2.2
PyYAML==6.0
requests==2.23.0
scikit_learn==1.1.1
scipy==1.4.1
seaborn==0.11.0
summarizer==0.0.7
textblob==0.15.3
vaderSentiment==3.3.2
